@import 'src/scss/variables';
@import 'src/scss/mixins';

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fit,  minmax(250px, 400px));
  grid-gap: 15px;
  cursor: pointer;
  .photos-item {
    border: 1px solid $grey-color;
    @include border-radius;
    height: 400px;
    overflow: auto;
    padding: 5px;
    img {
      max-width: 100%;
      max-height: 280px;
    }
  }
}

.loading-block {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid $darkgrey-color;
  color: $darkgrey-color;
  &--hide {
    display: none;
  }
}

.loading-image {
  display: none;
  &--show {
    display: block;
  }
}