@import 'src/scss/variables';
@import 'src/scss/mixins';

.buttonBase {
  button {
    border: none;
    color: #ffffff;
    background: $green-color;
    padding: 11px 10px;
    cursor: pointer;
    @include border-radius;
    transition: background .3s cubic-bezier(.645,.045,.355,1);

    &:hover {
      background: $lightgreen-color;
    }

    &:disabled {
      background: $grey-color;
    }
  }
}

.secondary {
  button {
    background: $red-color;
    &:hover {
      background: $lightred-color;
    }
  }
}
.primary {
  button {
    background: $blue-color;
    &:hover {
      background: $lightblue-color;
    }
  }
}
