@import 'src/scss/variables';
@import 'src/scss/mixins';

.inputBase {
  width: 260px;
  input {
    border: 1px solid $grey-color;
    @include border-radius;
    width: 100%;
    padding: 9px 15px;
    font-size: 16px;

    &:focus {
      border-color: $lightblue-color;
      -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
      box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
      color: $lightblue-color;

      &::placeholder {
        color: $lightblue-color
      }
    }
  }
}

