@import 'src/scss/variables';
@import 'src/scss/mixins';

.group {
  width: 100%;
  border: 1px solid $grey-color;
  @include border-radius;
  padding: 10px 20px;
  margin-bottom: 10px;
  &__title {
    margin-bottom: 10px;
  }
}